<table class="table table-striped">
    <tbody>
        {% for key,value in test.items() %}
            {% if key != 'missing' and key != 'filename' and key != 'steps' and key != 'expected'%}
            <tr>
                <td>{{ key }}</td>
                <td>
                {% if value is mapping %}
                    {% for subkey,subvalue in value.items() %}
                    <strong>{{ subkey }}</strong>: {{ subvalue }}<br/>
                    {% endfor %}
                {% elif value is iterable and value is not string %}
                    <ul>
                    {% for subitem in value %}
                        <li>{{ subitem }} </li>
                    {% endfor %}
                    </ul>
                {% else %}
                    {{ value }}
                {% endif %}
            </tr>
            {% endif %}
        {% endfor %}
    </tbody>
</table>
{% if 'filename' in test and test.filename != "" %}
    <h4><a href="{{ test.filename }}">details</a></h4>
{% elif 'steps' in test %}
    <h4>Steps to execute</h4>
    <ol>
        {% for step in test.steps %}
        <li>{{ step }} </li>
        {% endfor %}
    </ol>
    {% if 'expected' in test %}
    <h4>Expected results</h4>
    <ol>
        {% for step in test.expected %}
        <li>{{ step }} </li>
        {% endfor %}
    </ol>
    {% endif %}
{% endif %}
