[project]
[access "refs/heads/*"]
	label-Code-Review = -2..+2 group linaro-qa-test-defintions-approvers
	label-Code-Review = -1..+1 group Non-Interactive Users
	label-Code-Review = -1..+1 group linaro-qa-test-defintions-reviewers
	submit = group linaro-qa-test-defintions-approvers
[access "refs/*"]
	read = group Non-Interactive Users
[access]
	inheritFrom = QA-Projects
