[Unit]
Description=KVM guest tests

[Service]
Type=oneshot
ExecStart=/usr/bin/test-guest.sh
ExecStartPost=/sbin/poweroff

[Install]
WantedBy=multi-user.target
